<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-icon>picture_as_pdf</mat-icon>
<br>
<hr>
<div fxLayout="row" fxLayoutAlign="end center">
  <button color="accent" mat-button routerLink="/Form" style="background: #868484">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    Create New
  </button>
</div>
<br>
<div>
  <mat-form-field appearance="standard">
    <mat-label style="color: brown">Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Mia" style="color: #494949">
  </mat-form-field>
</div>
<br>
<div>
  <table [dataSource]="datasource" class="mat-elevation-z8 demo-table" mat-table>
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID:</th>
      <td *matCellDef="let element" mat-cell>{{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name:</th>
      <td *matCellDef="let element" mat-cell>{{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cin">
      <th *matHeaderCellDef mat-header-cell>CIN:</th>
      <td *matCellDef="let element" mat-cell>{{element.cin}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell>Type:</th>
      <td *matCellDef="let element" mat-cell>{{element.type}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cv">
      <th *matHeaderCellDef mat-header-cell>CV:</th>
      <td *matCellDef="let element" mat-cell><a href="element.cv">
        <mat-icon>picture_as_pdf</mat-icon>
      </a></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="createdDate">
      <th *matHeaderCellDef mat-header-cell>Created Date:</th>
      <td *matCellDef="let element" mat-cell>{{element.createdDate}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button mat-button routerLink="/members/{{element.id}}/edit">
          <mat-icon color="accent">edit</mat-icon>
        </button>
        <button (click)=onRemove(element.id) mat-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
